<main class="user-show">
  <%= render 'shared/user', user: @user %>
  <div class="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>

  <%= link_to "Add a Post...", new_user_post_path(@user) %>

  <% @recent_posts.each do |post| %>
    <%= render 'shared/post', post: post %>
  <% end %>
  <button> <%= link_to 'See all posts', user_posts_path(@user) %></button>
</main>

