<main class="user-show">
  <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
  <%= button_to("Home", root_path, method: :get) %>
  <%= render 'shared/user', user: @user %>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
  <div class="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>

  <%= link_to "Add a Post...", new_user_post_path(@user) %>

  <% @recent_posts.each do |post| %>
    <%= render 'shared/post', post: post %>
  <% end %>
  <button> <%= link_to 'See all posts', user_posts_path(@user) %></button>
</main>

