<%= link_to user_path(user) do %>
  <div class="user-container">
    <div class='image-container'>
      <img src="<%= user.photo %>" alt="<%= user.name %>" width="150" height="150" />
    </div>
    <div class='text-container'>
      <h2><%= user.name %></h2>
      <p>Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
<% end %>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>