<main class="post-show">
  <div class="post-in-show">
    <div><%= @post.title %> by <%= @post.author.name %></div>
    <div>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></div>
    <p><%= @post.text %></p>
  </div>
  <div class="comment-container">
    <% @post.comments.each do |comment| %>
      <%= render 'shared/comment', comment: comment %>
    <% end %>
  </div>
</main>