<div class="posts-show">
  <div>
  <div>Post #<%= @post.id %> by <%= @post.author.name %></div>
  <div>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></div>
  <p><%= @post.text %></p>

  </div>
  <div>
    <% @post.comments.each do |comment| %>
      <%= render 'shared/comment', comment: comment %>
    <% end %>
  </div>
</div>