<main class="post-show">
  <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
  <div class="post-in-show">
    <div><%= @post.title %> by <%= @post.author.name %></div>
    <div>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></div>
    <p><%= @post.text %></p>
     <%= render partial:'shared/delete_button', locals: {model: @post, url: user_post_path(@user, @post)} %>

  </div>
  <div class="comment-container">
    <% @post.comments.each do |comment| %>
      <%= render 'shared/comment', comment: comment %>
    <% end %>
  </div>
</main>
